#root {
  width: 1280px;
  height: 720px;
  background-color: white;
}
.page {
  width: 1280px;
  height: 720px;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
