.menu-language-wrapper {
  position: absolute;
  right: 30px;
  bottom: 270px;
  .welcome-page & {
    bottom: 60px;
  }
  .menu-language {
    display: flex;
    gap: 30px;
  }
  a {
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    .icon {
      display: block;
      width: 28px;
      height: 24px;
      border-radius: 6px;
    }
  }
}
