.product-details-wrapper {
  padding-top: 90px;
  h2 {
    margin: 0 0 20px;
    text-align: center;
    font-size: 42px;
  }
  .product-details-content {
    display: flex;
    gap: 26px;
    width: 860px;
    height: 410px;
    margin: 0 auto;
    overflow: hidden;
    .image {
      width: 410px;
      height: 410px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .content {
      width: 424px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .product-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .product-description-content {
    height: 410px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 27px 0 0;
    position: relative;

    .product-description-scroller {
      position: absolute;
      width: 10px;
      height: 100%;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.1);
      right: 0;
      top: 0;
      div {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        width: 10px;
        height: 50px;
        transition: all 0.2s ease-in;
      }
    }
    .product-description-inner {
      font-size: 18px;
      p {
        margin: 0;
        &:first-child {
          margin-top: -6px;
        }
      }
    }
  }
}
