.right-bottom-buttons-wrapper {
  position: absolute;
  right: 30px;
  bottom: 22px;
  .home-page & {
    bottom: 270px;
    opacity: 0;
    animation: slideUp 0.3s ease-in forwards;
    animation-delay: 0.2s;
  }
  .welcome-page & {
    bottom: 60px;
    animation: fadeIn 0.3s ease-in 1;
  }
  .right-bottom-buttons {
    display: flex;
    gap: 30px;
  }
  a {
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    .icon {
      display: block;
      width: 28px;
      height: 24px;
      border-radius: 6px;
    }
  }
}
